.app-header {
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  padding: 0.5rem 20px;
  font-size: 1.5rem;
}

.app-header a {
  text-decoration: none;
}

.app-header .reddit-logo {
  margin-right: 2rem;
}

.app-header .viewpicker {
  float: right;
}

.app-header .header-message {
  flex: 5;
  font-size: 1rem;
  overflow-y: hidden;
}

.header-message .message {
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.message.appear {
  top: 0;
  transition-property: top;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.app-header .viewpicker-label {
  color: #dddddd;
  font-size: 0.7em;
  margin-right: 0.5em;
}

.app-header .viewpicker dropdown {
  display: flex;
  flex-direction: row-reverse;
}
.app-header .subpicker {
  margin-right: 2rem;
}

.subpicker {
  color: #fff;
}
