.reddit-logo {
  align-items: center;
  color: #fff;
  display: flex;
  height: 1em;
  font-size: 1em;
  justify-content: flex-start;
}

.reddit-logo-image {
  height: 100%;
}
.reddit-logo-text {
  height: 100%;
  margin-left: 0.5em;
}

.reddit-logo-addtext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-top: 0.15em;
}
